{% block sw_cms_block_my_overlay_image_preview %}
    <div class="sw-cms-preview-my-overlay-image">
        <div class="sw-cms-preview-my-overlay-image__placeholder">
            <sw-icon name="default-image-full" size="40px"></sw-icon>
            <span>{{ $t('my-overlay-image.block.label') }}</span>
        </div>
    </div>
{% endblock %}